.container{
    background-color: var(--bgSoft);
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addButton{
    padding: 10px;
    background-color: darkslateblue;
    color: var(--text);
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

.title{
    font-size: 20;
    font-weight: 200;
    color: #79f6af;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table td{
    padding: 10px;
    border-bottom: 1px solid #5d74a7;
}

.status{
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--text);
}
.status.bloccata{
    background-color: #f56623;
}
.status.trasmessa{
    background-color: #16c493;
}
.status.contratto{
    background-color: #06cd3b;

}
.status.rifiutata{
    color: #da0101;
}
.status.completa{
    color: #06f044;
    background-color: var(--bgSoft);
}
.status.attesa_firma{
    color: #e7ed4b;
    background-color: #5d74a7;
}
.status.in_consegna{
    color: #d3bf26;
    background-color: #2a55b2;
}
.status.deliberata{
    color: #037d24;
    background-color: var(--bgSoft);
}
.status.attesa_esito{
    color: #e7ed4b;
    background-color: #5d74a7;
}
.status.istruttoria_interna{
    color: #9642b0;
    background-color: var(--bgSoft);
}
.status.attesa_DDT_Fattura{
    color: #14a30a;
    background-color: #c9d700;
}
.status.insoluto{
    color: #dad301;
    background-color: #ea0a0a;
}
.buttons{
    display: flex;
    gap: 10px;
}
.button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}
.view{
    background-color: teal;
}
.delete{
    background-color: rgb(147, 31, 10);
}
.tooltip_container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip_text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Posizionamento */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Metà della larghezza per centrarlo */
  
    /* Opzionali per migliorare l'aspetto */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip_container:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
  }
  