.container{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
}
.container:hover{
    background-color: #5d74a7;
    border-radius: 5px;
}
.active{
    background-color: #537bd0;
    border-radius: 5px;
}