/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/card/card.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.card_container__iVqz_{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    flex-direction: column;
    
}

.card_container__iVqz_:hover{
    background-color: var(--bgSoft);
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.card_texts___nHU6{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card_number__4sjYn{
    font-size: 24;
    font-weight: 600;
}
.card_details__LAFZD{
    font-size: 14px;
    color: var(--textSoft);
    font-weight: 300;
}
.card_positive__cCgwz{
    color: lime;
}
.card_negative__KLipm{
    color: red;
    font-size: 18px;
    font-weight: 400;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/chart/chart.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.chart_container__JztY_{
    height: 400px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}
.chart_title__xbaI9{
    font-size: 20;
    font-weight: 200;
    color: #79f6af;
    margin-bottom: 10px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/pratiche/pratiche.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.pratiche_container__l8mXt{
    background-color: var(--bgSoft);
    padding: 10px;
    border-radius: 10px;
}

.pratiche_title__0yUh_{
    font-size: 20;
    font-weight: 200;
    color: #79f6af;
}
.pratiche_table__kR5_e{
    width: 100%;
    border-collapse: collapse;
}
.pratiche_table__kR5_e td{
    padding: 10px;
    border-bottom: 1px solid #5d74a7;
}

.pratiche_status___cgux{
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--text);
}
.pratiche_status___cgux.pratiche_bloccata__NcVCY{
    background-color: #f56623;
}
.pratiche_status___cgux.pratiche_trasmessa__LHjhF{
    background-color: #16c493;
}
.pratiche_status___cgux.pratiche_contratto__ERS_H{
    background-color: #06cd3b;

}
.pratiche_status___cgux.pratiche_rifiutata__hGigZ{
    color: #da0101;
}
.pratiche_status___cgux.pratiche_completa__i6hGt{
    color: #06f044;
    background-color: var(--bgSoft);
}
.pratiche_status___cgux.pratiche_attesa_firma__GdrV6{
    color: #e7ed4b;
    background-color: #5d74a7;
}
.pratiche_status___cgux.pratiche_in_consegna__Rq4c3{
    color: #d3bf26;
    background-color: #2a55b2;
}
.pratiche_status___cgux.pratiche_deliberata__gAs4w{
    color: #037d24;
    background-color: var(--bgSoft);
}
.pratiche_status___cgux.pratiche_attesa_esito__e84D8{
    color: #e7ed4b;
    background-color: #5d74a7;
}
.pratiche_status___cgux.pratiche_istruttoria_interna__exxqn{
    color: #9642b0;
    background-color: var(--bgSoft);
}
.pratiche_status___cgux.pratiche_attesa_DDT_Fattura__t0LLz{
    color: #14a30a;
    background-color: #c9d700;
}
.pratiche_status___cgux.pratiche_insoluto__Xatvq{
    color: #dad301;
    background-color: #ea0a0a;
}
.pratiche_tooltip_container__w0snc {
    position: relative;
    display: inline-block;
  }
  
  .pratiche_tooltip_text__oKnib {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Posizionamento */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Metà della larghezza per centrarlo */
  
    /* Opzionali per migliorare l'aspetto */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .pratiche_tooltip_container__w0snc:hover .pratiche_tooltip_text__oKnib {
    visibility: visible;
    opacity: 1;
  }

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/rightbar/rightbar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.rightbar_container__euYye{
    position: fixed;
}
.rightbar_item__bPc4s{
    position: relative;
    background-color: #537bd0;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.rightbar_bgContainer__MxM1_{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}
.rightbar_bg__BduY0{
    object-fit: contain;
    opacity: 0.2;
}
.rightbar_texts__4zVY8{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.rightbar_notification__qWTG_{
    font-weight: bold;
}
.rightbar_title__ZHPzU{
    font-size: 24px;
    font-weight: bold;
    color: #cbb402;
}

.rightbar_button__zi_a2{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: darkslateblue;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
}
