/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/cerca/cerca.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.cerca_container__NYi7o{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #5d74a7;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}
.cerca_input__7wsgY{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(209, 209, 209);
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/user/users.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.users_container__Vf9Ox{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.users_top__PVAjT{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.users_addButton__DBHH2{
    padding: 10px;
    background-color: darkslateblue;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.users_table___NOtT{
    width: 100%;
    border-collapse: collapse;
}
.users_table___NOtT td{
    padding: 10px;
}
.users_user__jyBRc{
    display: flex;
    gap: 10px;
    align-items: center;
}
.users_user__jyBRc img{
    border-radius: 50%;
    object-fit: contain;
}
.users_buttons__Gtz_C{
    display: flex;
    gap: 10px;
}
.users_button__wekPY{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}
.users_view__Al_OE{
    background-color: teal;
}
.users_delete__6nyXi{
    background-color: rgb(147, 31, 10);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/pagination/pagination.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MlbTl{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.pagination_button__63zCc{
    padding:5px;
    cursor: pointer;
}
.pagination_button__63zCc:disabled{
    cursor: not-allowed;
}
