/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/cruscotto/aggiungiPratica/aggiungi.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.aggiungi_container__vjQcQ{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.aggiungi_title__Fy7dA{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.aggiungi_form__JK_yn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aggiungi_form__JK_yn input, 
.aggiungi_form__JK_yn textarea, 
.aggiungi_form__JK_yn select{
    padding:30px;
    background-color: var(--bg);
    color: var(--text);
    border-radius: 5px;
    margin-bottom: 30px;
    border: 2px solid #2e374a;
    font-size: 16px;
}
.aggiungi_form__JK_yn input, .aggiungi_form__JK_yn select{
    width: 45%;
}
.aggiungi_button__CPWNz{
    width: 100%;
    height: 40px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
