.container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #5d74a7;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}
.input{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(209, 209, 209);
}